button {
    /* background-color: transparent; 
    color: white;  */
    border: 1px solid black; /* Border with black color */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
    margin-top: 1em;
}

/* Hover effect */
button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

button.darkMode, .darkMode button{
    background-color: #FFFFFF;
    border: 1px #FFFFFF;
    color:  #333;
}
button.lightMode, .lightMode button{
    background-color: #333;
    border: 1px #333;
    color: #FFFFFF;
}